body {
    display: flex;
    justify-content: center;
  
}

.container {
    border-style: solid;
    border-color: black;
    width: 1000px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}